
/DotNetSolution/PersistenceOfVision/PersistenceOfVision/obj/Debug
/DotNetSolution/PersistenceOfVision/.vs
/DotNetSolution/PersistenceOfVision/PersistenceOfVision/obj
/Unity/POV_Visualizer/.vs/POV_Visualizer/v16
/Unity/POV_Visualizer/Library
/Unity/POV_Visualizer/UserSettings
/Unity/POV_Visualizer/Logs
/Unity/POV_Visualizer/obj
/DotNetSolution/PersistenceOfVision/POVdotNet/obj
/Unity/POV_Visualizer/Temp
